PORT=5001
DATABASE_URL="postgresql://user:password@localhost:5432/syllacollab_db"
JWT_SECRET="votre_cle_secrete_jwt_super_robuste"
ADMIN_EMAIL="admin@sylla.com"
ADMIN_PASSWORD="votre_mot_de_passe_admin"
CORS_ORIGIN="http://localhost:5173"
